@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Radio+Canada:wght@300;400;500;600;700&display=swap");
/*
to use the variables just import them here

order of imports matter the most
*/
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Lato;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 a {
  color: red;
}

.display-1 {
  font-size: 6rem;
}

.display-2 {
  font-size: 5rem;
}

.display-3 {
  font-size: 4rem;
}

.display-4 {
  font-size: 3rem;
}

.display-5 {
  font-size: 2rem;
}

.font-sm-1 {
  font-size: 0.75rem;
}

.font-sm-2 {
  font-size: 0.5rem;
}

.font-lg-1 {
  font-size: 1.25rem;
}

.font-lg-2 {
  font-size: 1.5rem;
}

.error {
  color: #ff0000;
}

.notify {
  color: #008000;
}

/*
making another breakpoint mixin to apply styling to those breakpoints which are not covered above
*/
@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: darkcyan;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

@media (min-width: 0) {

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
.text-cyan {
  color: #009999;
}

.bg-cyan {
  background-color: #009999;
}

.bg-cyan-light-2 {
  background-color: #33adad;
}

.bg-cyan-light-4 {
  background-color: #66c2c2;
}

.bg-cyan-light-6 {
  background-color: #99d6d6;
}

.bg-cyan-light-8 {
  background-color: #ccebeb;
}

.bg-cyan-dark-1 {
  background-color: #008a8a;
}

.bg-cyan-dark-2 {
  background-color: #007a7a;
}

.text-cyan-dark-3 {
  color: #006b6b;
}

.bg-cyan-dark-4 {
  background-color: #005c5c;
}

.bg-cyan-dark-6 {
  background-color: #003d3d;
}

.bg-cyan-dark-8 {
  background-color: #001f1f;
}

.text-cyan-dark-9 {
  color: #000f0f;
}

.text-red {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.text-hover-red-light-7:hover {
  color: #ffb3b3;
}

.text-blue {
  color: #0000ff;
}

.bg-blue {
  background-color: #0000ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.text-green {
  color: #008000;
}

.bg-green {
  background-color: #008000;
}

.text-hover-green:hover {
  color: #008000;
}

.text-purple {
  color: #800080;
}

.bg-purple {
  background-color: #800080;
}

.text-orange {
  color: #ffa500;
}

.bg-orange {
  background-color: #ffa500;
}

.text-yellow-dark-2 {
  color: #cccc00;
}

.bg-yellow-dark-2 {
  background-color: #cccc00;
}

.text-teal {
  color: #008080;
}

.bg-teal {
  background-color: #008080;
}

.text-pink {
  color: #ffc0cb;
}

.bg-pink {
  background-color: #ffc0cb;
}

.text-magenta {
  color: #ff00ff;
}

.bg-magenta {
  background-color: #ff00ff;
}

.text-magenta-dark-5 {
  color: purple;
}

.text-brown {
  color: #a52a2a;
}

.bg-brown {
  background-color: #a52a2a;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-grey {
  color: #808080;
}

.bg-grey {
  background-color: #808080;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.card {
  display: block;
  padding: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgb(0, 0, 0);
}
.card .card-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: whitesmoke;
}

.btn-cyan {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #009999;
}
.btn-cyan:hover {
  background-color: #00b3b3;
}

.btn-outlined-cyan {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #009999;
}
.btn-outlined-cyan:hover {
  background-color: #009999;
}

.btn-complement-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #ff0000;
  color: #66ffff;
}
.btn-complement-red:hover {
  color: #ff0000;
  background-color: #66ffff;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #008000;
}
.btn-green:hover {
  background-color: #009a00;
}

.btn-outlined-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #008000;
}
.btn-outlined-green:hover {
  background-color: #008000;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #ffff00;
}
.btn-yellow:hover {
  background-color: #ffff1a;
}

.btn-complement-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #ffff00;
  color: #6666ff;
}
.btn-complement-yellow:hover {
  color: #ffff00;
  background-color: #6666ff;
}

.btn-outlined-teal {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #008080;
}
.btn-outlined-teal:hover {
  background-color: #008080;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #ffc0cb;
}
.btn-pink:hover {
  background-color: #ffdae0;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #ff4d4d;
}
.btn-error:hover {
  background-color: #ff6767;
}

.btn-notify {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #00b300;
}
.btn-notify:hover {
  background-color: #00cd00;
}

.navbar .container, .navbar-white .container, .navbar-cyan .container, .navbar, .navbar-white, .navbar-cyan {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-cyan {
  padding: 1rem 2rem;
  box-shadow: 1px 3px 5px rgb(0, 0, 0);
}
.navbar .site-title, .navbar-white .site-title, .navbar-cyan .site-title {
  font-size: 1.25rem;
}
.navbar-cyan {
  background-color: #009999;
}

.navbar-white {
  background-color: white;
}

.p-0 {
  padding: 0;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.m-1 {
  margin: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.br {
  border-radius: 20px;
}

.display-f {
  display: flex;
}

.font-sm-1 {
  font-size: 0.75rem;
}

.font-sm-2 {
  font-size: 0.5rem;
}

.font-lg-1 {
  font-size: 1.25rem;
}

.font-lg-2 {
  font-size: 1.5rem;
}