@use 'sass:math';

// all varaibels are stored here 

// margin and padding
$base-padding: 1rem;
$base-margin: 1rem;



// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;



// box shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,1);



// basic font size
$base-font-size: 1rem; // 1 rem = 16px

// using the base font size and the using maths to change sizes as we want
$font-size-sm-1: $base-font-size * 0.75;
$font-size-sm-2: $base-font-size * 0.50;

$font-size-lg-1: $base-font-size * 1.25;
$font-size-lg-2: $base-font-size * 1.50;


// display headings
$display-1: $base-font-size * 6;
$display-2: $base-font-size * 5;
$display-3: $base-font-size * 4;
$display-4: $base-font-size * 3;
$display-5: $base-font-size * 2;



// making classes so that we can use these to show the output
.display-1{font-size: $display-1;}

.display-2{font-size: $display-2;}

.display-3{font-size: $display-3;}

.display-4{font-size: $display-4;}

.display-5{font-size: $display-5;}




// classes for different font sizes

.font-sm-1{font-size: $font-size-sm-1;}

.font-sm-2{font-size: $font-size-sm-2;}

.font-lg-1{font-size: $font-size-lg-1;}

.font-lg-2{font-size: $font-size-lg-2;}



// error and notice
.error
{
    color: #ff0000;
}

.notify
{
    color: #008000;
}


// map, this uses key and value pair
// using a map we will define some more colors
$colors:(

    "cyan": #009999,
    "red": #ff0000,
    "blue": #0000ff,
    "green": #008000,
    "purple": #800080,
    "orange": #ffa500,
    "yellow": #ffff00,
    "teal": #008080, 
    "pink": #ffc0cb,
    "magenta": #ff00ff,
    "brown": #a52a2a,
    "gray": #808080,
    "grey": #808080,
    "black": black,
    "white": white,
    "error": #ff4d4d,
    "notify": #00b300,
);